<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>Legalese Interpreter - File Upload</title>
    <meta name="description" content="This is my NLP Transformer legal document parser demo" />
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#1e81b0">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
    <h1 style="color:#428dc2">NLP Transformer-Based Legalese Interpreter</h1>

    <style>
        body {
            margin-top: 50px;
            margin-left: 400px;
            font-family: Arial, Helvetica, sans-serif;

        }
    </style>


</head>

<body>
    <div class="container">

        <div style="clear: both">
            &nbsp;


        </div>

    </div>
</body>

<body>
    <div class="background">
        <div class="transbox">
            <p style="color:#000000; opacity: 1;">Here are the results you asked for.</p>
        </div>
        <style>
            body {
                background-image: url('https://i.postimg.cc/gJDkbk7F/Justice-Emblem.png');
                background-repeat: no-repeat;
                background-attachment: fixed;
                background-size: cover;
            }
        </style>

    </div>


</body>

<body>
    <p>
        <iframe frameborder='0' style='position: absolute; background: transparent; width: 100%; height:100%;'
            src="{{ iframe }}" frameborder="0" width="800" height="800" allow="autoplay" href="{{url_for('box')}}">


        </iframe>
    </p>
</body>



</html>