<!DOCTYPE html>
<html lang="en-US">

<head>
    <meta charset="utf-8" />
    <title>Legalese Interpreter-Results</title>
    <meta name="description" content="NLP Transformer legal document parser demo" />
	<meta name="author" content="Charles Niswander II">
    <meta name="theme-color" content="#5D92A8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="referrer" content="no-referrer">
	<link rel="stylesheet"
	href="/static/nlpresultstylesheet.css">   
</head>

<body>

  <ul>
    <li><a href="#home">Home</a></li>
    <li><a href="#contact">Contact</a></li>
    <li><a href="#about">About Me</a></li>
  </ul>

 <header>
   <h1>NLP Transformer-Based Legalese Interpreter</h1>
 </header>
  
  <main>
    <p>Here are the results you asked for.</p>
     <img width=450px src=/static/tingey-injury-law-firm-L4YGuSg0fxs-unsplash.jpg
	 alt="Lady Justice"
	 align="left"/>
	 
        <iframe align="center"
            src="{{ iframe }}" frameborder="0" width="800" height="800" allow="autoplay" href="{{url_for('box')}}">
        </iframe>
		
   </main>
   
   <br/>
   
   <footer>
      <p>Application created by Charles Niswander&emsp;Website design created by Kimberly Weiss 2022&emsp;&emsp;&emsp;Disclaimer: This is not to be used as legal advice. Author assumes no liability
      and offers no guarantee of security of uploaded documents.</p>
    </footer>
		
</body>

</html>